@import "foundation.css";

html {
  font-family: serif;
  line-height: 4;
}

body {
  background-color: #e8eaed;
  color: grey;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
}

a {
  color:black;
}

a:hover {
  color: rgb(242, 85, 44);
}

.knop {
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color:  #cccccc;
  border: none;
  border-radius: 5px;
}

.knop:hover {
  background: rgb(242, 85, 44);
}

/*navigatiebalk */

.navbar {
  background-color: rgb(242, 85, 44);
  margin-bottom: 5px;
}

.navbar a {
  color: white;
}

.backtotop a {
  color:#F2552C;
}

.navbar a:hover, .backtotop a:hover {
  color: black;
  transition: 0.4s;
}

/* footer */

footer {
  background-color:  #cccccc;
  color: black;
  padding: 5px;
  margin-top: 5px;
}


div.footerl, div.footerr{
  color:#666666;
  width: 100%;
}
