@import "foundation.css";

html {
  font-family: serif;
  line-height: 4;
}

.ulNone {
    list-style-type: none;
}


body {
  margin-top: 10%; /* Add a top margin to avoid content overlay */
  background-color: white;
  font-family: "open sans";
  color: grey;
}

li {
    list-style-type: none;
}

/*navigatiebalk */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.navbar a {
  color: white;
}

.navbar a:hover{
  color:darkgrey;
  transition: 0.4s;
}

footer {
  background-color: #b0b1b2;
  color: black;
}


div.footerl, div.footerr{
  color:#666666;
  width: 100%;
}
