@import "foundation.css";

html {
  font-family: serif;
  line-height: 4;
}

body {
  margin-top: 10%; /* Add a top margin to avoid content overlay */
  background-color: white;
  font-family: "open sans";
  color: grey;
}

li {
    list-style-type: none;
}

/*navigatiebalk */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(242, 85, 44, 0.9); rgba(40, 10, 0, 0.8);
  overflow: hidden;
}

.navbar a {
  color: white;
}

.backtotop a {
  color:#F2552C;
}

.navbar a:hover, .backtotop a:hover {
  color:black; #F2552C;
  transition: 0.4s;
}

footer {
  background-color: #cccccc;
  color: black;
}


div.footerl, div.footerr{
  color:#666666;
  width: 100%;
}
